<h1>Welcome!</h1>

<div class="search_bar">
  <input type="text" placeholder="Search..">
</div>

<br>
<br>
<img src="<%= asset_path('main_screen_logos.png') %>" alt="Logos">

<br>
<br>

<%= link_to "Login / New User", new_movie_path %>