html, body 
{
  margin: 0;
  padding: 0;
  background-image: url("folk-pattern-black.png");
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 10pt;
}

.jumbotron
{
    background-color: red;
    color: white;
    font-family: 'Exo 2', sans-serif;
}

#Login
{
    color: white;
}

#Login:hover
{
    text-decoration: none;
}

.container-fluid
{
    font-family: 'Exo 2', sans-serif;
    color: white;
}

div#main
{
  margin: 0;
  padding: 0 20px 20px;
}

a
{
  background: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1
{
  color: white;
  font-size: 150%;
  font-style: italic;
  display: block;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
}

h1.title
{
  margin: 0 0 1em;
  padding: 10px;
  color: white;
  font-size: 2em;
  font-style: normal;
  text-align: center;
}

#extend
{
    margin-left: 550px;
    
}

#search_submit
{
    background-color: white;
    margin-left: 55px;
}

table a
{
    color: white;
}

table a:hover
{
    background: gray;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

table#movies
{
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
}

table#movies th
{
  border: 2px solid white;
  font-weight: bold;
}

table#movies th, table#movies td
{
  padding: 4px;
  text-align: left;
}

#notice #warning
{
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}

.Logo
{
    height: 150px;
    width: 255px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ratings_submit
{
    color: black;
    margin-left: 10px;
}

#ratings_form
{
    margin-left: 10px;
}

.btn
{
    color: black;
}

.field
{
    color: black;
}

.field-label
{
    color: white;
}