/*Main CSS Page*/

html, body 
{
  background-image: url("folk-pattern-black.png");
  color: white;
  font-family: 'Exo 2', sans-serif;
}

#Login a
{
    color: white;
    float: right;
    padding: 10px;
    text-decoration: none;
}

#Login a:hover
{
    background-color: gray;
}

.container-fluid
{
    font-family: 'Exo 2', sans-serif;
    color: white;
}

div#main
{
  margin: 0;
  padding: 0 20px 20px;
}

a
{
  background: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1
{
  color: white;
  text-align: center;
}

#extend
{
    margin-left: 550px;
    
}

#search_submit
{
    background-color: white;
    margin-left: 55px;
}

table a
{
    color: white;
}

table a:hover
{
    background: gray;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

table#movies
{
  border: 2px solid white;
  margin-left: 50px;
}

table#movies th
{
  border: 2px solid white;
  font-weight: bold;
}

table#movies th, table#movies td
{
  padding: 4px;
  text-align: left;
}

#notice #warning
{
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}

.Logo
{
    height: 100%;
    width: 100%;
    display: block;
    padding: 10%;
}

.btn
{
    color: black;
}

.field
{
    color: black;
}

.field-label
{
    color: white;
}

#Services
{
    width: 100%;
}

#Services h1
{
    text-align: left;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-left: -30px;
}

.filters
{
    border: 1px solid white;
    height: 100%;
    padding: 10px;
    text-align: center;
}

#rating
{
    margin-top: -17px;
    margin-left: 15px;
}

#ratings_submit
{
    color: black;
}

hr
{
    background-color: white;
}

#comments
{
    color: white;
}